<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>股票漲跌預測系統</title>
</head>
 
{% load static %}
<body background="{% static 'BG.jpg' %}">
    <span style="position: absolute;">
        <br><br>
        <img src="{%static 'stock.bmp'%}" style="height: 30px">
        <span style="color: lightgoldenrodyellow; font-family:Microsoft JhengHei; font-size:35px;">
            &nbsp股票查詢系統
        </span>
    </span>
    <center>
        <h1 style="color: white; font-family:Microsoft JhengHei;">請輸入股票代碼</h1>
        <h2>
            <form action="/search/" method="get">
                <input type="text" name="q" style="height: 20px;">
                <button type="submit"><img src = "{% static 'search_button.png'%}" alt="no picture"></button>
            </form>
        </h2>
        <br>
        <hr>
        <br>
        <h3 style="font-family:Microsoft JhengHei; color:lightseagreen">可供查詢的股票為：</h3>
        <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">    
            {% for i in stock %}
                <span style="color:lightgreen; font-size: 35px;">{{ i }}&emsp;</span>
                
                {% if forloop.counter|divisibleby:5 %}
                    <br><br>
                {% endif %}
            {% endfor %}
        </span>
    </center>
</body>

</html>