<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股票漲跌預測系統</title>
</head>
{% load static %}
<body background="{% static 'BG.jpg' %}">
    <h6 style="color: white;text-align: right;">僅預測結果，不負責任何責任</h6>
    <center>
        
        <h1 style="color:white; font-family:Microsoft JhengHei;">你查詢的股票代碼為 {{ content }}</h1>
        <hr>
        
        <h2 style="color:lightseagreen;">{{ stock_number }} {{ stock_name }} </h2>
        <!-- <img src = "{% static 'picture1.jpg' %}" alt = "no picture"> -->
        <img src = "{{ img1_src }}" alt = "no picture">
        <br><br>
        <img src = "{{ img2_src }}" alt = "no picture">
        <br><br>

        <form action="/search-form/" method="get">
            <button type="submit">返回</button>
        </form>
        <br><br>
    </center>
    
</body>
</html>